*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 16px;
}
body{
    height: 100%;
    width: 100%;
}
.box-alert{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background:black;
   
}
.alert{
    display: none;
    width: 20%;
    height: 10%;
    position: fixed;
    background: chartreuse;
    top: 50%;
    left: 50%;
    transform: -50% -50%;
}
.header{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #2c2c2c;
    border-bottom: 0px solid darkgray;
}
.icon-satu{
    border: 0px solid black;
    background-color: transparent;
    position: absolute;
    left: 5%;    
}
.icon-dua{
    border: 0px solid black;
    background-color: transparent;
    position: absolute;
    right: 5%;    
}
.logo{
    border: 0px 1px solid black;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
}
.menu-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
#dot{
    border-radius: 2px;
    background: white;
    width: 23px;
    height: 2px;
}

.box-menu{
    width: 100%;
    border-top: 0.5px solid darkgray;
    display: none;
    flex-direction: column;
    align-items: ;
    justify-content: space-around;
    background: #2c2c2c;
    gap: 20px;
    padding: 20px 0px;
}
.sidebar{
    display: flex;
    align-items: center;
    border: 0px solid black;
    padding-left: 10px;
}
.list-text{
    border: 0px solid black;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.content{
    margin: 0px;
    width: 100%;
    background: white;
    border: 0px solid black;  
}
.logo2{
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.great-box{
    background: transparent;
    border: 0px solid black;
    margin-top: 40px;
    text-align: center;
    width: 100%;
    
}
.great-text1{
    font-size: 1rem;
    font-weight: bold;
}
.great-text2{
    margin-top: 10px;
    font-size: 0.7rem;
}
.form{
    margin: 30px auto;
    width: 90%;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background: transparent;
}
.box-input{
    width: 100%;
    position: relative;
    border: 0px solid black;
    display: flex;
    align-items: center;
}
.input{
    background: white;
    height: 43px;
    width: 100%;
    padding: 0px 10% 0px 5%;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 0.7rem;
}
.clear{
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background: #ccc;
    right: 3%;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    border: 0px solid #efefef;
}
.input:focus{
    outline: 0px;
}
.button{
    height: 45px;
    width: 100%;
    border-radius: 10px;
    font-size: 0.7rem;
    background: #2c2c2c;
    border: 0px solid black;
    outline: 0px;
    font-weight: bold;
    color: white;
}
.loading{
    height: 60px;
    width: 100%;
    background: white;
    border: 0px solid darkgray;
    display: none;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 40px;
    height: 40px;
    --c:no-repeat linear-gradient(#4f4c82 0 0);
    background: var(--c),var(--c),var(--c),var(--c);
    background-size: 21px 21px;
    animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l5 {
   0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
   33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:58px;height: 57px}
   66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:58px;height: 57px}
   100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}

.error{
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 7px;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 400;
}
.video-container{
    margin: 0px auto;
    width: 90%;
    display: none;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.video-info{
    border: 0px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.box-thumb{
    position: relative;
    width: 100%;
    
    border: 0px solid black;
}
.thumb{
    width: 100%;
    border: 0px solid black;
    border-radius: 5px;
}
.duration{
    font-size: 0.7rem;
    position: absolute;
    left: 5%;
    bottom: 5%;
    background: #444444;
    color: white;
    padding: 2px 4px;
    border-radius: 0px;
}

.text-title{
    width: 100%;
    margin-top: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.8rem;
    border: 0px solid black;
    text-align: center;
}

.video-down{
    width: 100%;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
}
.info-down{
    width: 100%;
    border: 0px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 35px;
    column-gap: 1px;
}
.mp4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid darkgray;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 5px 0px 0px 0px;
    user-select: none;
}
.mp3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid darkgray;
    font-weight: bold;
    background: lightgray;
    font-size: 0.8rem;
    border-radius: 0px 5px 0px 0px;
    user-select: none;
}
.video{
    width: 100%;
    border: 0px solid black;
    display: grid;
    grid-auto-flow: row;
    padding: 0px;
    
}
.box-video{
    background: none;
    border: 0px solid black;
    display: grid;
    grid-template-columns:  1fr 1fr 1.4fr;
    grid-auto-flow: column;
    grid-auto-rows: 50px;
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
}
.res, .size, .box-download{
    border: 0.5px solid darkgray;
    border-top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    
}
.size{
    border-left: 0px solid black;
    border-right: 0px solid black;
}
.download{
    width: 90%;
    height: 70%;
    background: #28a745;
    color: ghostwhite;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
}
.anchor{
    font-style: none;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}
.anchor:active{
    text-decoration: none;
    background: none;
}
.audio{
    width: 100%;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    display: none;
    padding: 0;
}
.guide{
    width: 100%;
    margin: 100px auto 0px auto;
    border: 0px solid black;
    font-size: 1rem;
    flex-direction: column;
    gap: 20px;
    display: flex;
    text-align: center;
    
}
.text-intro{
    font-weight: bold;
    font-size: 1.1rem;
}
.text-intro2{
    font-size: 0.8rem;
    width: 100%;
}
.card{
    margin: 20px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    border: 0px solid black;
    row-gap: 30px;
    column-gap: 30px;
}
.items{
    width: 100%;
    height: 180px;
    border-top: 0.5px solid darkgray;
    border-left: 0.5px solid darkgray;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 0.5fr 1fr;
    align-items: center;
    place-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .2);
    background: white;
}
.item-image{
    width: 65px;
    height: 65px;
    border: 0px solid black;
    align-items: center;
    padding-top: 3px;
}
.item-text{
    font-weight: bold;
    font-size: 0.9rem;
    border: 0px solid ;
    color: black;
}
.item-text2{
    font-size: 0.7rem;
    width: 70%;
    color: black;
}
.footer{
    margin-top: 100px;
    width: 100%;
    height: 200px; 
    background: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-top: 0.5px solid darkgray;
}
.box-logo{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    font-weight: bold;
    font-size: 1.1rem;
}
.box-medsos{
    margin-top: 30px;
    border: 0px solid black;
    background: none;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.medsos{
    width: 30px;
    height: 30px;
    background: none;
}
.creator-box{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.creator{
    font-size: 0.8rem;
    color: black;
}






/* Default font size for all devices (applies to body) */

@media only screen and (min-width: 750px){
    html{
        font-size: 20px;
    }
    body{
        background: blue;
    }
    .icon-satu{
        justify-content: flex-start;
        padding-left: 4%;
    }
    .box-menu{
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        display: flex;
    }
    .list-image{
        border: 0px solid red;
    }
    .list-text{
        border: 0px solid red;
    }
    .loading{
        width: 65%;
        margin: 0px auto;
    }
    .video-container{
        width: 80%;
    }
    .text-title{
        width: 80%;
    }
    .box-video{
        grid-auto-rows: 65px;
    }
    .box-thumb{
        width: 80%;
        margin: 0px auto;
    }
    .video-down{
        width: 80%;
    }
    .form{
        width: 65%;
        position: relative;
    }
    .clear{
        display: none;
    }
    .input{
        width: 100%;
        height: 43px;
        
    }
    .button{
        width: 20%;
        height: 42px;
        border-radius: 0px 10px 10px 0px;
        font-size: 0.7rem;
        position: absolute;
        right: 0px;
    }
    .download{
        width: 94%;
        height: 68%;
    }
    .text-intro{
        font-size: 1rem;
    }
    .text-intro2{
        font-size: 7px;
    }
    .card{
        width: 50%;
        column-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .menu-header{
        display: flex;
    }
    
}
@media only screen and (min-width: 1200px){
    .card{
        width: 45%;
        grid-template-columns: repeat(1, 1fr);
    }
}
